<h1>Activity 2: UK ROAD ACCIDENT</h1>
<hr/>
<h3>Analyst: Marianne Capuno</h3>

<h1>Import Libraries</h1>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<h1>Convert the DataSet into DataFrame</h1>

In [2]:
accident = pd.read_csv("datasets//uk_road_accident.csv")

In [3]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,5/6/2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,2/7/2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,3/9/2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,18-02-2022,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car
660675,201091NM01881,Slight,21-02-2022,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660676,201091NM01935,Slight,23-02-2022,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car
660677,201091NM01964,Serious,23-02-2022,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc
660678,201091NM02142,Serious,28-02-2022,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car

In [4]:
accident.columns

Index(['Index', 'Accident_Severity', 'Accident Date', 'Latitude',
       'Light_Conditions', 'District Area', 'Longitude',
       'Number_of_Casualties', 'Number_of_Vehicles', 'Road_Surface_Conditions',
       'Road_Type', 'Urban_or_Rural_Area', 'Weather_Conditions',
       'Vehicle_Type'],
      dtype='object')

<h1>Checking for Null Values</h1>

In [5]:
accident.isnull()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,False,False,False,False,False,False,False,False,False,False,False,False,False,False
660675,False,False,False,False,False,False,False,False,False,False,False,False,False,False
660676,False,False,False,False,False,False,False,False,False,False,False,False,False,False
660677,False,False,False,False,False,False,False,False,False,False,False,False,False,False
660678,False,False,False,False,False,False,False,False,False,False,False,False,False,False

<h1>Descriptive Analytics</h1>

In [6]:
accident.describe()

            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

<h1>Check DataFrame Info</h1>

In [7]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

<h1>Filling Up The Null Values</h1>

In [8]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [9]:
accident['Latitude']

0         51.506187
1         51.495029
2         51.517715
3         51.495478
4         51.488576
            ...
660674    57.374005
660675    57.232273
660676    57.585044
660677    57.214898
660678    57.575210
Name: Latitude, Length: 660679, dtype: float64

In [10]:
accident['Latitude'].mean()

np.float64(52.553865761110956)

In [11]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mean())

In [12]:
accident['Longitude']

0        -0.209082
1        -0.173647
2        -0.210215
3        -0.202731
4        -0.192487
            ...
660674   -3.467828
660675   -3.809281
660676   -3.862727
660677   -3.823997
660678   -3.895673
Name: Longitude, Length: 660679, dtype: float64

In [13]:
accident['Longitude'].mean()

np.float64(-1.4312103685020727)

In [14]:
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mean())

In [15]:
accident['Road_Surface_Conditions']

0                  Dry
1          Wet or damp
2                  Dry
3                  Dry
4                  Dry
              ...
660674             Dry
660675    Frost or ice
660676    Frost or ice
660677     Wet or damp
660678     Wet or damp
Name: Road_Surface_Conditions, Length: 660679, dtype: object

In [16]:
accident['Road_Surface_Conditions'].mode()

0    Dry
Name: Road_Surface_Conditions, dtype: object

In [17]:
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])

In [18]:
accident['Road_Type']

0         Single carriageway
1         Single carriageway
2                        NaN
3         Single carriageway
4                        NaN
                 ...
660674    Single carriageway
660675    Single carriageway
660676    Single carriageway
660677    Single carriageway
660678      Dual carriageway
Name: Road_Type, Length: 660679, dtype: object

In [19]:
accident['Road_Type'].mode()

0    Single carriageway
Name: Road_Type, dtype: object

In [20]:
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])

In [21]:
accident['Urban_or_Rural_Area']

0         Urban
1         Urban
2         Urban
3         Urban
4         Urban
          ...
660674    Rural
660675    Rural
660676    Rural
660677    Rural
660678    Rural
Name: Urban_or_Rural_Area, Length: 660679, dtype: object

In [22]:
accident['Urban_or_Rural_Area'].mode()

0    Urban
Name: Urban_or_Rural_Area, dtype: object

In [23]:
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])

In [24]:
accident['Weather_Conditions']

0            Fine no high winds
1         Raining no high winds
2                           NaN
3            Fine no high winds
4                           NaN
                  ...
660674       Fine no high winds
660675       Fine no high winds
660676       Fine no high winds
660677       Fine no high winds
660678    Snowing no high winds
Name: Weather_Conditions, Length: 660679, dtype: object

In [25]:
accident['Weather_Conditions'].mode()

0    Fine no high winds
Name: Weather_Conditions, dtype: object

In [26]:
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna(accident['Weather_Conditions'].mode()[0])

In [27]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
dtype: int64

<h1>Changing Dtypes</h1>

In [28]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [29]:
accident['Index'] = accident['Index'].astype("category")
accident['Accident_Severity'] = accident['Accident_Severity'].astype("category")
accident['Accident Date'] = accident['Accident Date'].astype("category")
accident['Light_Conditions'] = accident['Light_Conditions'].astype("category")
accident['District Area'] = accident['District Area'].astype("category")
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype("category")
accident['Road_Type'] = accident['Road_Type'].astype("category")
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype("category")
accident['Weather_Conditions'] = accident['Weather_Conditions'].astype("category")
accident['Vehicle_Type'] = accident['Vehicle_Type'].astype("category")

In [77]:
accident.dtypes

Index                            category
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                 category
District Area                    category
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
dtype: object

<h1>Clearing any Inconsistencies with the Data Set</h1>

In [68]:
accident['Accident Date'] = accident['Accident Date'].str.strip()
accident['Accident Date'] = accident['Accident Date'].astype('str')
accident['Accident Date'] = accident['Accident Date'].str.replace('/', '-')

In [76]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

<h1>Extracting date information using pandas date time</h1>

In [78]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

In [79]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
Year                       0
Month                      0
Day                        0
DayOfWeek                  0
dtype: int64

<h1>Data Analytics</h1>
<h2>UniVariate</h2>
<h3>Summary of Accidents in 2019</h3>
<h4>Light Conditions</h4
<hr>

<h1>UniVariate Analysis on accident that happened in 2019</h1>

In [83]:
df_2019 = accident[accident['Year'] == 2019]

In [85]:
print(f"total of accident in 2019 is {df_2019['Light_Conditions'].value_counts().sum()}")
df_2019['Light_Conditions'].value_counts()

total of accident in 2019 is 0

Light_Conditions
Darkness - lighting unknown    0
Darkness - lights lit          0
Darkness - lights unlit        0
Darkness - no lighting         0
Daylight                       0
Name: count, dtype: int64

<h1>Exploratory Data Analytics</h1>

In [31]:
accident.columns

Index(['Index', 'Accident_Severity', 'Accident Date', 'Latitude',
       'Light_Conditions', 'District Area', 'Longitude',
       'Number_of_Casualties', 'Number_of_Vehicles', 'Road_Surface_Conditions',
       'Road_Type', 'Urban_or_Rural_Area', 'Weather_Conditions',
       'Vehicle_Type'],
      dtype='object')

<hr>
<h1>Question 1</h1>
<hr>
<h3>Does the longitude has corr. in the severity of an accident?</h3>

In [32]:
from scipy.stats import f_oneway

In [33]:
accident['Accident_Severity']

0         Serious
1         Serious
2         Serious
3         Serious
4          Slight
           ...
660674     Slight
660675     Slight
660676     Slight
660677    Serious
660678    Serious
Name: Accident_Severity, Length: 660679, dtype: category
Categories (3, object): ['Fatal', 'Serious', 'Slight']

In [34]:
accident[accident['Accident_Severity']== 'Serious']['Longitude']

0        -0.209082
1        -0.173647
2        -0.210215
3        -0.202731
5        -0.192556
            ...
660629   -4.176860
660645   -1.165232
660672   -3.852421
660677   -3.823997
660678   -3.895673
Name: Longitude, Length: 88217, dtype: float64

In [35]:
accident[accident['Accident_Severity']== 'Slight']['Longitude']

4        -0.192487
8        -0.173572
9        -0.175651
13       -0.210701
14       -0.167129
            ...
660671   -3.930799
660673   -3.748312
660674   -3.467828
660675   -3.809281
660676   -3.862727
Name: Longitude, Length: 563801, dtype: float64

In [36]:
accident[accident['Accident_Severity']== 'Fatal']['Longitude']

7        -0.179486
11       -0.159652
20       -0.214277
21       -0.170375
717      -0.107581
            ...
660470   -6.278583
660519   -4.451628
660565   -4.243081
660581   -3.065535
660627   -1.409761
Name: Longitude, Length: 8661, dtype: float64

In [37]:
axi, long = f_oneway(accident[accident['Accident_Severity']== 'Fatal']['Longitude'], accident[accident['Accident_Severity']== 'Slight']['Longitude'], accident[accident['Accident_Severity']== 'Serious']['Longitude'])
long

np.float64(5.6694282604018206e-14)

<h1>Insight:</h1>
<h3>There are a positive correlation between the accident severity and the longitude, this means that the position of the longitude affects the severity of an accident.</h3>
<hr>

<h1>Question 2</h1>
<hr>
<h3>What district has the highest accurrence of accidents?</h3>

In [38]:
accident['District Area'].value_counts().head(1)

District Area
Birmingham    13491
Name: count, dtype: int64

<h1>Insight:</h1>
<h3>The District Birmingham has the highest accurence of accidents.</h3>
<hr>

<h1>Question 3</h1>
<hr>
<h3>Which accident severity happens most often?</h3>

In [39]:
accident['Accident_Severity'].value_counts().head(1)

Accident_Severity
Slight    563801
Name: count, dtype: int64

<h1>Insight:</h1>
<h3>Slight Accidents happens most of the time.</h3>
<hr>

<h1>Question 4</h1>
<hr>
<h3>Do accident severities change depending on the weather conditions?</h3>

In [40]:
severity = accident.groupby(['Weather_Conditions', 'Accident_Severity']).size().unstack(fill_value=0)
severity

Accident_Severity      Fatal  Serious  Slight
Weather_Conditions
Fine + high winds        175     1245    7134
Fine no high winds      7207    73285  454521
Fog or mist               82      483    2963
Other                    165     1801   15184
Raining + high winds     145     1261    8209
Raining no high winds    848     9468   69380
Snowing + high winds       3      109     773
Snowing no high winds     36      565    5637

<h1>Insight:</h1>
<h3>Weather Conditions plays a significant role in the severity of an accident.</h3>
<hr>

<h1>Question 5</h1>
<hr>
<h3>Are accidents more common in urban or rural areas?</h3>

In [41]:
accident['Urban_or_Rural_Area'].value_counts()

Urban_or_Rural_Area
Urban          421678
Rural          238990
Unallocated        11
Name: count, dtype: int64

<h1>Insight:</h1>
<h3>Accidents often happens in Urban Areas.</h3>
<hr>

<h1>Question 6</h1>
<hr>
<h3>Which vehicle type has the most casulties?</h3>

In [42]:
vehicle = accident.groupby('Vehicle_Type')['Number_of_Casualties'].sum()
vehicle

Vehicle_Type
Agricultural vehicle                       2613
Bus or coach (17 or more pass seats)      34915
Car                                      676692
Data missing or out of range                  9
Goods 7.5 tonnes mgw and over             23397
Goods over 3.5t. and under 7.5t            8308
Minibus (8 - 16 passenger seats)           2659
Motorcycle 125cc and under                20348
Motorcycle 50cc and under                 10167
Motorcycle over 125cc and up to 500cc     10286
Motorcycle over 500cc                     34879
Other vehicle                              7554
Pedal cycle                                 270
Ridden horse                                  5
Taxi/Private hire car                     18195
Van / Goods 3.5 tonnes mgw or under       46271
Name: Number_of_Casualties, dtype: int64

<h1>Insight:</h1>
<h3>The data shows that cars contribute the most casualties.</h3>
<hr>

<h1>Question 7</h1>
<hr>
<h3>Does the number of vehicles have to do with the number of casualties?</h3>

In [43]:
accident['Number_of_Casualties'].corr(accident['Number_of_Vehicles'])

np.float64(0.2288888612692756)

<h1>Insight:</h1>
<h3>There is a positive correlation between number of vehicles and number of casualties, this means if one increases the other one tends to also increase.</h3>
<hr>

<h1>Question 8</h1>
<hr>
<h3>Do light conditions affect accident severity?</h3>

In [44]:
con = accident.groupby(['Light_Conditions', 'Accident_Severity']).size().unstack(fill_value=0)
con

Accident_Severity            Fatal  Serious  Slight
Light_Conditions
Darkness - lighting unknown     68      794    5622
Darkness - lights lit         1860    19130  108345
Darkness - lights unlit         45      360    2138
Darkness - no lighting        1612     7174   28651
Daylight                      5076    60759  419045

<h1>Insight:</h1>
<h3>The light conditions affects the severity of an accident, when it is darkâ€”there are more accidents.</h3>
<hr>

<h1>Question 9</h1>
<hr>
<h3>Does road surface affects the severity of an accident?</h3>

In [45]:
surface = accident.groupby(['Road_Surface_Conditions', 'Accident_Severity']).size().unstack(fill_value=0)
surface

Accident_Severity        Fatal  Serious  Slight
Road_Surface_Conditions
Dry                       5790    61708  381049
Flood over 3cm. deep        23      152     842
Frost or ice               193     2007   16317
Snow                        35      565    5290
Wet or damp               2620    23785  160303

<h1>Insight:</h1>
<h3>The road surface has an affect to the severity of an accident.</h3>
<hr>

<h1>Question 10</h1>
<hr>
<h3>Which road type has higher accurence of an accident?</h3>

In [46]:
accident['Road_Type'].value_counts().head(5)

Road_Type
Single carriageway    496663
Dual carriageway       99424
Roundabout             43992
One way street         13559
Slip road               7041
Name: count, dtype: int64

<h1>Insight:</h1>
<h3>Accidents are most frequent on single carriageway roads probably due to their heavy use.</h3>
<hr>

<h1>Question 11</h1>
<hr>
<h3>Is there a district that consistently shows higher accident severity regardless of conditions?</h3>

In [47]:
check_conditions = accident.groupby(['District Area', 'Accident_Severity', 'Weather_Conditions']).size().unstack(fill_value=0)
check_conditions

Weather_Conditions               Fine + high winds  Fine no high winds  \
District Area Accident_Severity
Aberdeen City Fatal                              2                   9
              Serious                            3                 189
              Slight                            21                 851
Aberdeenshire Fatal                              2                  50
              Serious                           15                 363
...                                            ...                 ...
Wyre Forest   Serious                            1                 117
              Slight                             6                 681
York          Fatal                              0                  19
              Serious                            3                 216
              Slight                            19                1362

Weather_Conditions               Fog or mist  Other  Raining + high winds  \
District Area Accident_Severity
Aberdeen City Fatal                        0      0                     0
              Serious                      1      4                     3
              Slight                       5     12                    25
Aberdeenshire Fatal                        0      0                     1
              Serious                      7      2                    12
...                                      ...    ...                   ...
Wyre Forest   Serious                      0      0                     0
              Slight                       2     10                     1
York          Fatal                        0      0                     0
              Serious                      1      2                     2
              Slight                       5     46                    15

Weather_Conditions               Raining no high winds  Snowing + high winds  \
District Area Accident_Severity
Aberdeen City Fatal                                  1                     0
              Serious                               37                     0
              Slight                               144                     3
Aberdeenshire Fatal                                 12                     1
              Serious                               57                     1
...                                                ...                   ...
Wyre Forest   Serious                               12                     0
              Slight                               107                     0
York          Fatal                                  2                     0
              Serious                               27                     0
              Slight                               159                     1

Weather_Conditions               Snowing no high winds
District Area Accident_Severity
Aberdeen City Fatal                                  0
              Serious                                2
              Slight                                11
Aberdeenshire Fatal                                  0
              Serious                                6
...                                                ...
Wyre Forest   Serious                                2
              Slight                                 8
York          Fatal                                  0
              Serious                                4
              Slight                                14

[1266 rows x 8 columns]

<h1>Insight:</h1>
<h3>Districk York consistently shows a high severity accidents regarless of conditions.</h3>
<hr>

<h1>Question 12</h1>
<hr>
<h3>Does the type of road influence the likelihood of fatal accidents?</h3>

In [48]:
road_vs_severity = (accident.groupby('Road_Type')['Accident_Severity'].value_counts(normalize=True))
road_vs_severity

Road_Type           Accident_Severity
Dual carriageway    Slight               0.863604
                    Serious              0.118140
                    Fatal                0.018255
One way street      Slight               0.870934
                    Serious              0.122059
                    Fatal                0.007006
Roundabout          Slight               0.913462
                    Serious              0.083311
                    Fatal                0.003228
Single carriageway  Slight               0.844764
                    Serious              0.142028
                    Fatal                0.013208
Slip road           Slight               0.906263
                    Serious              0.086777
                    Fatal                0.006959
Name: proportion, dtype: float64

<h1>Insight:</h1>
<h3>Type of roads influences the fatalities of an accidents, althought there is some that is affected by it, the chances are low.</h3>
<hr>

<h1>Question 13</h1>
<hr>
<h3>Does latitude has an effect on weather conditions?</h3>

In [49]:
accident['Weather_Conditions'].value_counts()

Weather_Conditions
Fine no high winds       535013
Raining no high winds     79696
Other                     17150
Raining + high winds       9615
Fine + high winds          8554
Snowing no high winds      6238
Fog or mist                3528
Snowing + high winds        885
Name: count, dtype: int64

In [50]:
accident[accident['Weather_Conditions']== 'Fine no high winds']['Latitude']

0         51.506187
2         51.517715
3         51.495478
4         51.488576
5         51.497750
            ...
660673    57.585152
660674    57.374005
660675    57.232273
660676    57.585044
660677    57.214898
Name: Latitude, Length: 535013, dtype: float64

In [51]:
accident[accident['Weather_Conditions']== 'Raining no high winds']['Latitude']

1         51.495029
18        51.497590
24        51.498157
27        51.490526
28        51.513352
            ...
660622    59.067516
660636    60.368948
660644    60.254095
660646    60.148990
660663    56.865367
Name: Latitude, Length: 79696, dtype: float64

In [52]:
accident[accident['Weather_Conditions']== 'Other']['Latitude']

13        51.508999
25        51.493311
34        51.498244
95        51.480177
118       51.519685
            ...
660664    56.880265
660667    57.076929
660668    57.054889
660669    57.484296
660671    57.572162
Name: Latitude, Length: 17150, dtype: float64

In [53]:
accident[accident['Weather_Conditions']== 'Raining + high winds']['Latitude']

41        51.493753
694       51.509123
697       51.513119
1017      51.520805
1165      51.509345
            ...
660605    58.989752
660632    60.242707
660640    60.153353
660642    60.157212
660643    60.344563
Name: Latitude, Length: 9615, dtype: float64

In [54]:
accident[accident['Weather_Conditions']== 'Fine + high winds']['Latitude']

36        51.497451
287       51.494612
322       51.488769
391       51.495117
414       51.487743
            ...
660629    57.687933
660637    60.233118
660645    60.162660
660647    60.195539
660665    56.884448
Name: Latitude, Length: 8554, dtype: float64

In [55]:
accident[accident['Weather_Conditions']== 'Snowing no high winds']['Latitude']

57        51.497725
85        51.522561
88        51.482076
142       51.488394
1039      51.497214
            ...
660631    60.201045
660654    60.070562
660655    60.239368
660659    57.248688
660678    57.575210
Name: Latitude, Length: 6238, dtype: float64

In [56]:
accident[accident['Weather_Conditions']== 'Fog or mist']['Latitude']

2169      51.505773
3454      51.524253
4192      51.493602
4986      51.530953
5789      51.511646
            ...
660188    51.870180
660285    52.142690
660367    52.134766
660409    57.515596
660550    58.307893
Name: Latitude, Length: 3528, dtype: float64

In [57]:
accident[accident['Weather_Conditions']== 'Snowing + high winds']['Latitude']

23307     54.753063
23316     54.470140
23585     54.769737
23641     54.766547
24832     54.784285
            ...
660601    58.895122
660650    60.250124
660653    60.305886
660656    60.094818
660666    56.879446
Name: Latitude, Length: 885, dtype: float64

In [58]:
lat, la_wea = f_oneway(accident[accident['Weather_Conditions']== 'Snowing + high winds']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Fog or mist']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Snowing no high winds']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Fine + high winds']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Raining + high winds']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Other']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Raining no high winds']['Latitude'], 
                       accident[accident['Weather_Conditions']== 'Fine no high winds']['Latitude'])
la_wea

np.float64(0.0)

<h1>Insight:</h1>
<h3>There is no correlation between latitude and weather conditions.</h3>
<hr>

<h1>Question 14</h1>
<hr>
<h3>When did most accidents happened?</h3>

In [59]:
accident['Accident Date'].value_counts().head(5)

Accident Date
30-11-2019    704
31-01-2019    697
13-11-2021    692
13-07-2019    692
14-08-2019    688
Name: count, dtype: int64

<h1>Insight:</h1>
<h3>Most accidents occurred on Nov. 11, 2019.</h3>
<hr>

<h1>Question 15</h1>
<hr>
<h3>Does the combination of vehicle type and road type affects the number of casualties?</h3>

In [60]:
combined = accident.groupby(['Vehicle_Type', 'Road_Type'])['Number_of_Casualties'].sum()
combined

Vehicle_Type                         Road_Type
Agricultural vehicle                 Dual carriageway        406
                                     One way street           60
                                     Roundabout              156
                                     Single carriageway     1949
                                     Slip road                42
                                                           ...
Van / Goods 3.5 tonnes mgw or under  Dual carriageway       7494
                                     One way street          886
                                     Roundabout             2927
                                     Single carriageway    34427
                                     Slip road               537
Name: Number_of_Casualties, Length: 80, dtype: int64

<h1>Insight:</h1>
<h3>It shows that whatever vehicle type you use, the number of casualties in single carriageway are high, probably because of it is overused.</h3>
<hr>

<h1>Question 16</h1>
<hr>
<h3>Are accidents more frequent in low-visibility conditions?</h3>

In [61]:
accident['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

<h1>Insight:</h1>
<h3>It shows that daylight produce more accidents than it is when dark.</h3>
<hr>

<h1>Question 17</h1>
<hr>
<h3>Are rural areas more likely to experience fatal accidents than urban areas?</h3>

In [62]:
rur = accident.groupby(['Urban_or_Rural_Area', 'Accident_Severity'])['Number_of_Casualties'].sum()
rur

Urban_or_Rural_Area  Accident_Severity
Rural                Fatal                 11733
                     Serious               62770
                     Slight               279012
Unallocated          Fatal                     0
                     Serious                   1
                     Slight                   12
Urban                Fatal                  4750
                     Serious               66668
                     Slight               471622
Name: Number_of_Casualties, dtype: int64

<h1>Insight:</h1>
<h3>The urban areas experience a more fatal accidents and casualties.</h3>
<hr>

<h1>Question 18</h1>
<hr>
<h3>Which Road surface conditions have the most number of casualties?</h3>

In [63]:
road_casualties = accident.groupby('Road_Surface_Conditions')['Number_of_Casualties'].sum()
road_casualties

Road_Surface_Conditions
Dry                     598606
Flood over 3cm. deep      1521
Frost or ice             24976
Snow                      8008
Wet or damp             263457
Name: Number_of_Casualties, dtype: int64

<h1>Insight:</h1>
<h3>The data shows that accidents on dry road surfaces recorded the highest number of casualties.</h3>
<hr>

<h1>Question 19</h1>
<hr>
<h3>How do Weather conditions and Vehicle type together affect Number of casualties?</h3>

In [64]:
co = accident.groupby(['Weather_Conditions', 'Vehicle_Type'])['Number_of_Casualties'].size()
co

Weather_Conditions     Vehicle_Type
Fine + high winds      Agricultural vehicle                      20
                       Bus or coach (17 or more pass seats)     350
                       Car                                     6463
                       Data missing or out of range               1
                       Goods 7.5 tonnes mgw and over            251
                                                               ...
Snowing no high winds  Other vehicle                             50
                       Pedal cycle                                3
                       Ridden horse                               0
                       Taxi/Private hire car                    136
                       Van / Goods 3.5 tonnes mgw or under      296
Name: Number_of_Casualties, Length: 128, dtype: int64

<h1>Insight:</h1>
<h3>Casualties are higher for cars in fine + high winds, indicating vehicle type and weather matter.</h3>
<hr>

<h1>Question 20</h1>
<hr>
<h3>Is there a relationship between Latitude/Longitude and Number of casualties</h3>

In [65]:
lat_corr = accident['Latitude'].corr(accident['Number_of_Casualties'])
lat_corr

np.float64(0.032200686625906395)

In [66]:
lon_corr = accident['Longitude'].corr(accident['Number_of_Casualties'])
lon_corr

np.float64(-0.0404056457884545)

<h1>Insight:</h1>
<h3>Casualties increase slightly with latitude and decrease with longitude, indicating location influences accident severity.</h3>
<hr>